.search {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 55px;
  right: 34px;
}

.search-input {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  padding: 6px 12px;
  width: 180px;
  font-size: 14px;
  color: #777;
}

.search-icon {
  margin-right: 8px;
  font-size: 14px;
}


