/* wrapper */

.balicarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 100px;
}

/* track */

.balicarousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

/* slide */

.balicarousel-slide {
  min-width: 100%;
}

/* image */

.balicarousel-slide img {
  width: 100%;
  height: 520px;
  object-fit: cover;
  display: block;
}

/* =========================
   ARROWS
========================= */

.balicarousel-prev,
.balicarousel-next {
  position: absolute;
  bottom: 25px;
  background: white;
  border: none;
  width: 48px;
  height: 48px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* right bottom placement */

.balicarousel-next {
  right: 25px;
}

.balicarousel-prev {
  right: 85px;
}

/* =========================
   DOTS
========================= */

.balicarousel-dots {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.balicarousel-dot {
  width: 10px;
  height: 10px;
  background: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 6px;
}

.balicarousel-dot.active {
  background: #333;
}

/* responsive */

@media (max-width: 900px) {
  .balicarousel-slide img {
    height: 380px;
  }
}